.row
  .col
    h4
      =title
.row
  .col-8
    for content in contents
      if content.title
        h5
          =content.title
      .search-result-content
        !=content.hypertext
  .col-4
    .map
.row
  .col
    .search-result-detail-rows
      .search-result-detail-row
        if sourceApi
          .search-result-detail
            =sourceApi
        if registerId
          .search-result-detail
            |DNO:
            =registerId
        if functionId
          .search-result-detail
            =functionId
        .search-result-detail
          a(href='/action/'+apiId+'/'+actionId, target='blank')
            | Suora linkki