li.list-group-item.search-tree-item.no-gutters(data-id=node.id,class='function-' + rootId + (active ? ' active' : ''), data-level=node.level,title=node.name)
  .row
    .col
      .search-tree-item-name
        i.fa
        =node.name