extends layout/layout

block custom-head
  title 
    = __('index.title')
  link(rel='stylesheet', href='/css/index.min.css')
block body
  .jumbotron
    .container
      .row
        .col-7
          h1.site-title Päätöshaku
          p.site-subtitle
            | Helsinki - Espoo - Vantaa - Tampere - Oulu
        .col
          +login-buttons()
        .col
          h3 EU-here
  .content
    .container
      .free-text-search-container
        .input-group.input-group-lg.main-search-group
          span.input-group-addon.fa.fa-search
          input.form-control(type='text', placeholder='Hae päätöksiä, Vapaa sanahaku, osoite, kaupunki, tehtäväluokka, toimiala, teema, aihe-alue')
          span.input-group-addon.fa.fa-rss
      .filter-container
        .container-title 
          p Rajaa hakutulosta
        .row
          .col.filter-box filter-1
          .col.filter-box filter-2
          .col.filter-box filter-3
          .col.filter-box filter-4
      .search-tree-container
        .container-title 
          p Hakupuu
        .row
          .col.search-tree-box Tree-1
          .col.search-tree-box Tree-2
          .col.search-tree-box Tree-3
      .search-results-container
        .container-title 
          p Haun tulokset
        .row
          .col.search-results-box
            ul.list-group
              li.list-group-item.search-result-item
                i.fa.fa-folder-o.search-result-icon
                | Cras justo odio
              li.list-group-item.search-result-item 
                i.fa.fa-folder-o.search-result-icon
                | Dapibus ac facilisis in
              li.list-group-item.search-result-item
                i.fa.fa-folder-o.search-result-icon
                | Morbi leo risus
              li.list-group-item.search-result-item 
                i.i.fa.fa-folder-o.search-result-icon
                | Porta ac consectetur ac
              li.list-group-item.search-result-item
                i.fa.fa-folder-o.search-result-icon
                | Vestibulum at eros
