extends layout/layout

block custom-head
  title 
    = __('index.title')
  link(rel='stylesheet', href='/css/index.min.css')
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/leaflet/1.2.0/leaflet.css')
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/Leaflet.draw/0.4.12/leaflet.draw.css')
  script(defer='defer',src='/js/pug-templates.min.js',type='text/javascript')
  script(defer='defer',src='//cdnjs.cloudflare.com/ajax/libs/Shuffle/5.0.1/shuffle.min.js',type='text/javascript')
  script(defer='defer',src='//cdn.metatavu.io//libs/tinycolor/1.4.1/tinycolor.js',type='text/javascript')
  script(defer='defer',src='//cdn.metatavu.io/libs/leaflet/1.2.0/leaflet.js',type='text/javascript')
  script(defer='defer',src='//cdn.metatavu.io/libs/Leaflet.draw/0.4.12/leaflet.draw.js',type='text/javascript')
  script(defer='defer',src='/js/function-ids.min.js',type='text/javascript')
  script(defer='defer',src='/js/index.min.js',type='text/javascript')
block body
  .jumbotron
    .container
      .row
        .col-7
          h1.site-title Päätöshaku
          p.site-subtitle
            | Helsinki - Espoo - Vantaa - Tampere - Oulu
        .col
          +login-buttons()
        .col
          h3 EU-here
  .content
    .container
      .search-container.free-text-search-container
        .input-group.input-group-lg.main-search-group
          span.input-group-addon.fa.fa-search
          input.freetext-search.form-control(type='text', placeholder='Hae päätöksiä, Vapaa sanahaku, osoite, kaupunki, tehtäväluokka, toimiala, teema, aihe-alue')
          span.input-group-addon.fa.fa-rss
      .search-container.filter-container
        p.search-container-title 
          i.fa.fa-plus
          |Rajaa hakutulosta
          i.fa.fa-plus
        .container-contents
          .row
            .col.filter-box.filter-by-apis
              for api in apis
                .filter.api-filter
                  i.fa.fa-map-signs(aria-hidden="true")
                  label(for='filter-by-api-' + api.id)
                    =api.name
                  input(id='filter-by-api-' + api.id, type="checkbox",name="apis",value=api.id)
            .col.filter-box filter-2
            .col.filter-box
              .location-filter
      .search-container.search-tree-container.search-container-closed
        p.search-container-title 
          i.fa.fa-plus
          |Hakupuu
          i.fa.fa-plus
        .container-contents
          .row
            .col-4.search-tree-box.search-tree-level-1
            .col-4.search-tree-box.search-tree-level-2
            .col-4.search-tree-box.search-tree-level-3
      .search-container.search-results-container
        p.search-container-title
          i.fa.fa-plus
          |Haun tulokset
          i.fa.fa-plus
        .container-contents
          .row
            .col.search-results-box
              .suffle-sizer
              ul.list-group
  input(type="hidden",name="enabled-apis",value=apis)