mixin login-buttons()
  .login-buttons
    button.btn.btn-primary.btn-sm.btn-block.login-btn(type='button')
      i.fa.fa-lock
      |Kirjaudu
    button.btn.btn-primary.btn-sm.btn-block.facebook-btn(type='button')
      i.fa.fa-facebook
      | Login with Facebook
    button.btn.btn-primary.btn-sm.btn-block.google-btn(type='button')
      i.fa.fa-google
      | Sign in with Google
