include ../mixins/login-buttons

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    script(defer='defer',src='//cdn.metatavu.io/libs/jquery/3.2.1/jquery.min.js',type='text/javascript')
    script(defer='defer',src='//cdn.metatavu.io/libs/popper.js/1.11.0/popper.min.js',type='text/javascript')
    script(defer='defer',src='//cdn.metatavu.io/libs/jquery-ui/1.12.1/jquery-ui.min.js',type='text/javascript')
    script(defer='defer',src='//cdn.metatavu.io/libs/bootstrap/4.0.0-beta/bootstrap.min.js')
    link(rel='stylesheet', href='//cdn.metatavu.io/libs/bootstrap/4.0.0-beta/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.metatavu.io/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/layout.min.css')
    block custom-head
  body
    block body
  footer.footer
    .container
      .row
        .col
          .row
            .col
              +login-buttons()
            .col
              p Info - 1
            .col
              p Info - 2
            .col
              p Info - 3
        .col-5
          h3 EU here
