$function-color-00: #00d3ed;
$function-color-01: #60d975;
$function-color-02: #edab00;
$function-color-03: #0071bc;
$function-color-04: #ed5000;
$function-color-05: #a5d49c;
$function-color-06: #f16faa;
$function-color-07: #faad81;
$function-color-08: #7acfc7;
$function-color-09: #ea162d;
$function-color-10: #7e4900;
$function-color-11: #7dba00;
$function-color-12: #0a2b55;
$function-color-13: #ff6865;
$function-color-14: #99bb76;
$function-color-99: #666666;

$filter-closed-color: #ffffff;
$filter-closed-background: #00b59d;

$search-result-item-title-color: #ffffff;
$search-result-item-title-details-color: rgba(0, 0, 0, 0.6);
$search-result-item-detail-color: #999999;