$function-icon-00: "\f1b3";
$function-icon-01: "\f2bd";
$function-icon-02: "\f153";
$function-icon-03: "\f0e3";
$function-icon-04: "\f2b5";
$function-icon-05: "\f084";
$function-icon-06: "\f0fa";
$function-icon-07: "\f044";
$function-icon-08: "\f018";
$function-icon-09: "\f0a2";
$function-icon-10: "\f0f7";
$function-icon-11: "\f1bb";
$function-icon-12: "\f02d";
$function-icon-13: "\f0eb";
$function-icon-14: "\f080";
$function-icon-99: "\f016";
