@import "actions";
@import 'fonts';

$open-search-content-background: #ebebeb;

.list-group-item,
.suffle-sizer {
  width: 100%;
}

.loader {
  width: 100%;
  min-height: 200px;
  background-image: url('/gfx/loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}

.save-search-container {
  margin-top: 15px;
  
  .search-url-container,
  .copy-to-clipboard-btn {
    display: none;
  }
}
.active-filter-indicator {
  margin-right: 5px;
  
  .fa {
    padding-left: 3px;
    cursor: pointer;
  }
}

.search-container-title {
  p {
    margin-bottom: -10px;
    margin-top: 20px;
    font-weight: bold;
  }
}

.free-text-search-container {
  .main-search-group {
    
    .form-control {
      background: #e1e1e1;
      color: #000;
    }
    
    .fa-search {
      background: #c34679;
      color: #fff;
    }

    .get-rss-btn {
      cursor: pointer;
    }
    
    .fa-rss {
      background: #ff6600;
      color: #fff;
    }
  }
}

.filter-container {
  
  .filter-box {
    padding: 15px;
    margin: 15px;
    min-height: 200px;
    background: #426cb7;
    color: #fff;
    
    .location-filter {
      height: 100%;
      min-height: 302px;
    }
    
  }
}

.search-tree-container {
  
  .search-tree-box {
    color: #fff;
    margin-top: 15px;
    
    @media (min-width: 720px) { 
      min-height: 600px;
    }
    
    &.search-tree-level-1 {
      
      .search-tree-item {
        padding: 12px 15px;
        
        &:first-child {
          padding-top: 15px;
        }

        &:last-child {
          padding-bottom: 15px;
        }
        
        .fa {
          width: 40px;
          text-align: center;
          padding-right: 10px;
          font-size: 25px;
          visibility: visible;
        }
      }
      
    }
    
    .search-tree-item {
      
      .col {
        padding-left: 8px;
      }
      
      border: none;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      padding-top: 8px;
      padding-bottom: 8px;
      
      &:first-child {
        padding-top: 20px;
      }
      
      &:last-child {
        padding-bottom: 20px;
      }
      
      .search-tree-item-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
      }
      
      .fa {
        width: 40px;
        text-align: center;
        font-size: 25px;
        padding-right: 10px;
        visibility: hidden;
      }
      
      &.active .fa {
        visibility: visible;
      }
      
    }
    
  }
}

.search-results-container {
  
  .search-results-box {
    margin-top: 15px; 
  }
  
  .search-result-item {
    border-bottom: 3px solid #fff;
    padding-left: 10px;
    
    .search-result-icon-container,
    .search-result-item-title-container {
      cursor: pointer; 
    }
    
    .search-result-item-title {
      color: $search-result-item-title-color;
      padding-top: 2px;
    }
    
    .search-result-item-source-api, 
    .search-result-item-organization-name {
      color: $search-result-item-title-details-color;
      padding-left: 5px;
      
      &::before {
        padding-right: 5px;
        content: '/';
      }
    }
    
    .search-result-item-title,
    .search-result-item-source-api, 
    .search-result-item-organization-name {
      font-size: 16px;
      display: inline-block;
      font-weight: bold;
    }
    
    .map {
      height: 400px;
    }
    
    .search-result-icon-container {
      max-width: 50px;
      padding-left: 20px;
    }
    
    .search-result-details {
      overflow: hidden;
      height: 0px;
    }
  
    .search-result-icon {
      font-size: 28px;
      color: #fff;
      padding-right: 20px;
    }
    
    &.search-result-item-loading .search-result-details {
      min-height: 500px;
      background-image: url('/gfx/loader.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 64px;
    }

    &.search-result-item-open {
    
      background: $open-search-content-background;

     .search-result-details {
       height: auto;
       padding-top: 10px;
       padding-bottom: 20px;
      }
      
      .search-result-detail-rows {
        padding-top: 20px;
      }
      
      .search-result-detail-row {
        color: $search-result-item-detail-color;
        
        .search-result-detail {
          padding-right: 5px;
          display: inline-block;
          
          &::before {
            padding-right: 5px;
            content: '/';
          }
            
          &:first-child {
            &::before {
              padding-right: 0;
              content: '';
            }
          }
        }
      }
    }

  }
  
}

.no-results-container {
  margin-bottom: 20px;
}

.filter {
  
  label {
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  input {
    display: none;
  }
  
  .fa {
    color: transparent;
  }
  
  &.filter-enabled .fa {
    color: #fff;
  }
}

.search-container {
  
  .search-container-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 0;
    
    .close-container {
      display: inline-block;
      cursor: pointer;
    }
    
    .fa-plus {
      display: none;
    }
  }
  
}

.search-container-closed {
  
  .search-container-title {
    color: $filter-closed-color;
    text-align: center;
    background: $filter-closed-background;
    padding: 15px;
    text-transform: uppercase;
    
    .close-container {
      display: none;
    }
    
    .fa-plus {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .container-contents {
    display: none;
  }
  
}

.flatpickr-calendar {
  
  margin-left: auto;
  margin-right: auto;
  
  &.arrowTop {
    
    &::before,
    &::after {
      display: none !important;
    }
    
  }
  
}