@import 'fonts';

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.eu-logo {
  max-width: 100%;
  max-height: 60px;
  height: auto;
  
  
  @media (min-width: 576px) {
    max-height: 100%;
  }
      
}

.scroll-up-btn {
  font-size: 24px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 9px;
  display: none;
}

.jumbotron {
  
  border-radius: 0;
  background-image: url('/gfx/paatoshaku_header_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15px;
  padding-top: 45px;

  .site-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 4px;
    padding-top: 5px;
    margin-top: -10px;
    margin-left: -7px;

    .title-icon {
      vertical-align: text-top;
      font-size: 20px;
      margin-top: -10px;
      margin-left: -7px;
    }

    @media (min-width: 359px) { 
      font-size: 40px;
    }
    
    @media (min-width: 576px) { 
      font-size: 50px;

      .title-icon {
        font-size: 25px;
      }
    }
    
    @media (min-width: 768px) { 
      font-size: 60px;
      
      .title-icon {
        font-size: 30px;
      }
    }
    
    @media (min-width: 992px) { 
      font-size: 70px;
      
      .title-icon {
        font-size: 40px;
        margin-top: -15px;
        margin-left: -7px;
      }
    }
  }
  .site-subtitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 3px;
    
    @media (min-width: 576px) { 
      font-size: 16px;
      margin-top: -12px;
    }
    
    @media (min-width: 768px) { 
      font-size: 19px;
      margin-top: -15px;
    }
    
    @media (min-width: 992px) { 
      font-size: 22px;
      margin-top: -15px;
    }
  }
}

.github-link {
  color: #fff;
  text-decoration: none;
  
  .github-link-text {
    font-size: 18px;
  }
  
  .fa {
    padding-right: 5px;
    font-size: 32px;
    vertical-align: sub;
    margin-left: 20px;
    margin-top: 10px;
  }
}

.btn {
  border-radius: 0;
}

.input-group {
  input {
    border-radius: 0;
    border: none;
  }
  
  .input-group-addon {
    border-radius: 0;
    border: none;
  }
}
.list-group {
  .list-group-item {
    border: none;
    border-radius: 0;
  }
}

.login-buttons {

  .btn-primary:focus {
    box-shadow: none;
  }

  .login-btn {
    background: #00a5f0;
    border: none;
  }

  .facebook-btn {
    background: #3963c7;
    border: none;
  }

  .google-btn {
    background: #d1422b;
    border: none;
  }
  
  .btn-block {
    margin-top: 3px;
    text-align: left;
    
    .fa {
      padding-right: 15px;
    }
  }
}

footer {
  margin-top: 15px;
  background: #00b59d;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

@media (min-width: 1203px) {
  
  .container {
    max-width: 1170px;
  }
  
}